body {
  color: #2B2620;
  background-color: #7a7fa2;
  font-family: Georgia, serif;
}

.slicky {
  color:blue;
  border:2px black;
}

#pita {
  font-size:20px;
  color:black;
  margin:auto;
  padding:auto;
  border: solid 2px black;
  text-align: center;
}

#what {
  font-size:20px;
  padding:20px;
  width:300px;
}

#title {
  padding:auto;
  text-align :center;
  border: solid 4px black;
  font-size:50px;
}

