body {
  color: #2B2620;
  background-color: #7a7fa2;
  font-family: Georgia, serif;
}

.slicky {
  color:blue;
  border:2px black;
}

#pita {
  font-size:20px;
  color:black;
  margin:40px;
  border:2px black;
  text-align: center;
}

#what {
  font-size:100px;
  padding:20px;
}

